@font-face {
 font-family: Roboto Condensed;
 font-weight: bold;
 src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype")
}

@font-face {
 font-family: Roboto Slab;
 font-weight: "bold";
 src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype")
}

@font-face {
 font-family: Roboto Slab;
 font-weight: light;
 src: url("../fonts/RobotoSlab-Light.ttf") format("truetype")
}

@font-face {
 font-family: Roboto Slab;
 font-weight: regular;
 src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype")
}
