$s-Big_Brush = 0px 0px 0px 0px 32px 31px 143px 97px 'sprite.png';
$s-Camera = 114px 0px -114px 0px 29px 21px 143px 97px 'sprite.png';
$s-Dribbble = 0px 41px 0px -41px 26px 26px 143px 97px 'sprite.png';
$s-Facebook = 36px 41px -36px -41px 26px 26px 143px 97px 'sprite.png';
$s-Film_2 = 114px 31px -114px -31px 22px 26px 143px 97px 'sprite.png';
$s-Laptop = 0px 77px 0px -77px 32px 20px 143px 97px 'sprite.png';
$s-Message_small = 114px 87px -114px -87px 13px 9px 143px 97px 'sprite.png';
$s-Phone = 114px 67px -114px -67px 15px 10px 143px 97px 'sprite.png';
$s-Pinterest = 78px 36px -78px -36px 26px 26px 143px 97px 'sprite.png';
$s-RSS = 78px 0px -78px 0px 26px 26px 143px 97px 'sprite.png';
$s-Twitter = 42px 0px -42px 0px 26px 26px 143px 97px 'sprite.png';
